@using CartolaUI.Controllers
@model IEnumerable<CartolaUI.Entities.CampeonatoInfoDb>


@{
	ViewData["Title"] = "Campeonato";
	Layout = "~/Pages/_Layout.cshtml";
}

<br />
<br />
<font size="20"><center><strong>Campeonato</strong></center></font>
<br />

<style type="text/css">
	.table th, .table td {
		text-align: center;
	}
</style>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayName("Nome")
			</th>
			<th>
				@Html.DisplayName("Nome no Cartola")
			</th>
			<th>
				@Html.DisplayName("Patrimônio")
			</th>
			<th>
				@Html.DisplayName("Pontos")
			</th>
			<th>
				@Html.DisplayName("Ranking")
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.nome_cartola)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.patrimonio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.pontos)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ranking)
				</td>
			</tr>
		}
	</tbody>
</table>