@using CartolaUI.Entities
@model IEnumerable<RodadaInfoDb>


@{
	ViewData["Title"] = "Rodada Atual";
	Layout = "~/Pages/_Layout.cshtml";
}

<br />
<br />
<font size="20"><center><strong>Rodada Atual</strong></center></font>
<br />

<style type="text/css">
	.table th, .table td {
		text-align: center;
	}
	table.Normal th
	{font-size: 50pt;
		font-weight: bold
	}
	table.Normal td
	{font-size: 30pt;}
</style>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayName("Nome")
			</th>
			<th>
				@Html.DisplayName("Nome no Cartola")
			</th>
			<th>
				@Html.DisplayName("Jogadores Pontuados")
			</th>
			<th>
				@Html.DisplayName("Pontuação Parcial")
			</th>
			<th>
				@Html.DisplayName("Ranking Parcial na Rodada")
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.nome_cartola)
				</td>
				<td>
					@if (item.slug.Contains("/12"))
					{
						@Html.DisplayFor(modelItem => item.slug)
					}
					else
					{
						@Html.DisplayFor(modelItem => item.mongolou)
					}
				</td>
				<td>
					@if (String.IsNullOrWhiteSpace(item.pontuacaoParcial) && !String.IsNullOrWhiteSpace(item.ranking))
					{
						@Html.DisplayFor(modelItem => item.mongolou)
					}
					else if (String.IsNullOrWhiteSpace(item.pontuacaoParcial) && String.IsNullOrWhiteSpace(item.ranking))
					{
						@Html.DisplayFor(modelItem => item.naoparticipou)
					}
					else
					{
						@Html.DisplayFor(modelItem => item.pontuacaoParcial)
					}
				</td>
				<td>
					@if (item.pontuacaoParcial == item.mongolou)
					{
						@Html.DisplayFor(modelItem => item.mongolou)
					}
					else
					{
						@Html.DisplayFor(modelItem => item.Id)
					}
				</td>
			</tr>
		}
	</tbody>
</table>
